<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Título de página -->
    <title>Skills - Portfolio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- etiquetas SEO -->
    <meta name="description" content="Skills y habilidades de diseño gráfico">
    <!-- Keywords -->
    <meta name="keywords" content="PORTFOLIO, DISEÑO, DISEÑO GRÁFICO, SKILLS, PHOTOSHOP, ADOBE ILLUSTRATOR">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,900&display=swap" rel="stylesheet">
    <!-- Icons --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>
    <header>
        <!--título de header-->
        <h1 class="textoHeader">Skills</h1>
        <nav class="navegacion">
            <div>
                <!--Logo-->
                <a href="./index.html"><img class="logo" src="../img/Logo-web.png" alt="logo"></a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="barBtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="menu">   
                <!--menú de navegación-->       
                <!--página de inicio-->
                <li><a href="../index.html"> Inicio</a></li>               
                <!--página sobre mi-->
                <li><a href="../views/sobre-mi.html">Sobre mí</a></li>              
                <!--página trabajos-->
                <li><a href="../views/trabajos.html">Trabajos</a></li>             
                <!--página skills-->
                <li><a class="active" href="../views/skills.html">Skills</a></li>
                <!--página contacto-->
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>               
    
    <!-- contenido principal -->
    <main>
        <h2 class="tituloDePaginaSkills">Skills</h2>
            <div>
                <div class="skillsUno">
                    <p class="tituloSkills">Photoshop</p>
                    <img class="logoSkills" src="../img/logo-ps.png" alt="Logo Photoshop">
                </div>              
                <div class="skillsDos">
                    <p class="tituloSkills">Illustrator</p>
                    <img class="logoSkills" src="../img/logo-ai.png" alt="Logo Illustrator">
                </div>            
                <div class="skillsUno">   
                    <p class="tituloSkills">Figma</p>
                    <img class="logoSkills" src="../img/logo-figma.png" alt="logo Figma">
                </div>
                <div class="skillsDos">   
                    <p class="tituloSkills">Html 5</p>
                    <img class="logoSkills" src="../img/logo-html.png" alt="logo html5">
                </div>
                <div class="skillsUno">   
                    <p class="tituloSkills">Css 3</p>
                    <img class="logoSkills" src="../img/logo-css.png" alt="logo css">
                </div>
                <div class="skillsDos">   
                    <p class="tituloSkills">Sass</p>
                    <img class="logoSkills" src="../img/logo-sass.png" alt="logo Sass">
                </div>
                <div class="skillsUno"> 
                    <p class="tituloSkills">Bootstrap</p>
                    <img class="logoSkills" src="../img/logo-bootstrap.png" alt="logo Bootstrap">
                </div>
            </div>        
    </main>
    <!-- cierre de contenido principal -->
    <!--comienzo de footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h3>Navegación</h3>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/sobre-mi.html">Sobre mí</a></li>
                        <li><a href="../views/trabajos.html">Trabajos</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="../views/contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Contacto</h3>
                    <ul>
                        <li class="contacto"><i class="fas fa-map-marker-alt"></i>Junín, Buenos Aires, Argentina.</li>
                        <li class="contactoMail"><i class="fas fa-envelope"></i>enzogarbarini@gmail.com</li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Redes sociales</h3>
                    <div class="redesSociales">
                        <a href="https://www.linkedin.com/in/enzogarbarini/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.behance.net/enzogarbarini1" target="_blank"><i class="fab fa-behance"></i>
                        <a href="https://www.instagram.com/enzogarbarini" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="textoFooter">Sitio desarrollado por <a href="https://github.com/enzogarbarini" target="_blank" class="github">Enzo Garbarini</a></p>
      </footer>
</body>
</html>