/***********

Css - Trabajos

************/

/* Titulo principal "Últimos trabajos" */
.tituloDePagina {
    color: #041546;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}

/* Título secundario "Edits de fútbol" */
.edits {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
}

/* Márgenes para imágenes y videos dentro de "Trabajos" */
.multimedia {
   margin-left: 40px;
   margin-top: 20px;
   margin-bottom: 40px;
}

/* Texto que indica el título de cada imagen o video */
.textoMultimedia {
    margin-left: 40px;
    font-style: italic;
}


/* Estilos de imagenes y sus textos */
.imagenesTrabajos {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.imagenesTrabajos * {
    box-sizing: border-box;
}

.imagenTrabajo {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.contenidoImagen {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-radius: 10px;
}

.tituloFoto {
    font-weight: 600;
    text-align: center;
}
